<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Edit</title>
    <div th:replace="fragments/head">Head</div>
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="fragments/navbar">Navigation</div>
</header>

<div class="container-fluid pt-5 mb-4">
    <div class="row" style="height: 2em;"></div>

    <h2 class="text-center text-white">Update profile information</h2>
    <form class="main-form mx-auto col-md-8 col-lg-6 d-flex row g-3 justify-content-center"
          th:action="@{/admins/edit/}+${userEditDTO.id}"
          th:method="put"
          th:object="${userEditDTO}">
        <div class="col-md-6">
            <label for="firstName" class="text-white font-weight-bold">First Name</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}" th:errorclass="is-invalid">

            <p class="errors alert alert-danger invalid-feedback">First name should be at least 2 symbols long!</p>
        </div>
        <div class="col-md-6">
            <label for="lastName" class="text-white font-weight-bold">Last Name</label>
            <input type="text" class="form-control" id="lastName" th:field="*{lastName}" th:errorclass="is-invalid">
            <p class="errors alert alert-danger invalid-feedback">Last name should be at least 2 symbols long!</p>
        </div>

        <div class="mb-3" style="display:none">
            <label for="formFile" class="form-label">Profile picture</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        <div class="mb-3">
            <label for="inputImg" class="text-white font-weight-bold">Profile picture url</label>
            <input class="form-control" type="text" id="inputImg" th:field="*{imageUrl}">

        </div>

        <div class="row justify-content-center">
            <button class="btn btn-outline-warning col-4 mx-3" onclick="window.history.go(-1); return false;"
                    role="button">Cancel
            </button>
            <button type="submit" class="btn btn-primary col-4 mx-3">Save</button>

        </div>


    </form>
</div>

</div>

<div th:replace="fragments/footer">Footer</div>

</body>
</html>