<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<title>PetVet</title>
<th:block th:include="~{/fragments/head.html}" />
</head>
<body>
<header id="header" class="fixed-top">
    <div th:replace="fragments/navbar">Navbar</div>
</header>
<div class="container-fluid pt-5 mb-4">
<div class="row" style="height: 4em;"></div>
<form class="justify-content-center mx-auto">
    <div class="form-group col-md-6">
            <label for="name">name</label>
            <input type="name" class="form-control" id="name" placeholder="Clinic name">
        </div>

    <div class="form-group col-md-2">
        <label for="inputWorkingHours">Working hours</label>
        <input type="text" class="form-control" id="inputWorkingHours">
    </div>

        <div class="form-group col-md-4">
            <label for="inputCountry">Country</label>
            <select id="inputCountry" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>

        <div class="form-group col-md-6">
        <label for="inputAddress">Street address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>

    <div class="form-group col-md-6">
    <label for="inputImgUrl">Image Url</label>
    <input type="text" class="form-control" id="inputImgUrl" placeholder="URL">
</div>

    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
</div>

</body>
</html>