<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PetVet</title>
    <th:block th:include="~{/fragments/head.html}" />
</head>
<body>


<header id="header" class="fixed-top">
    <div th:replace="fragments/navbar">Navbar</div>
</header>

<main role="main">
    <div class="row" style="height:4em;"></div>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome to your online diary doctor <th:block th:text="${#authentication.principal.lastName}">X</th:block></h1>
            <p class="lead text-muted">Here you can organize your work and administrate your patients.</p>
            <p>
                <a th:href="@{/owners/add}" class="btn btn-primary my-2">Add new owner</a>
                <a th:href="@{/patients/add}" class="btn secondary my-2">Add new patient</a>
            </p>
        </div>
    </section>
</main>

<div class="footer" th:replace="fragments/footer">Footer</div>

</body>
</html>