<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PetVet</title>

    <th:block th:include="~{/fragments/head.html}"/>
    <link rel="stylesheet" href="//unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="//unpkg.com/bootstrap-select@1.12.4/dist/css/bootstrap-select.min.css"
          type="text/css"/>
    <link rel="stylesheet" href="//unpkg.com/bootstrap-select-country@4.0.0/dist/css/bootstrap-select-country.min.css"
          type="text/css"/>

</head>


<body>
<header id="header" class="fixed-top">
    <div th:replace="fragments/navbar">Navbar</div>
</header>
<div class="container-fluid pt-5 mb-4">
    <div class="row" style="height: 4em;"></div>
    <form class="justify-content-center mx-auto"
          th:action="@{/manipulations/add/} + *{animalId}"
          th:method="post"
          th:object="${manipulationAddDTO}">
        <h2 class="text-center text-black">Manipulation details:</h2>

            <div class="form-row">
                <input type="checkbox" name="vaccinated" th:field="*{vaccinated}"
                       class="form-check-input" id="vaccinated">
                <label class="form-check-label" for="vaccinated">Is the animal vaccinated</label>
            </div>

            <div>
                <label for="vaccinationDate">Date of vaccination:</label>
                <input type="date" th:field="*{vaccinationDate}"  name="vaccinationDate"  id="vaccinationDate"/>

            </div>

            <div class="form-group col-md-4">
                <label for="vaccine">Vaccine</label>
                <input type="text" th:field="*{vaccine}"
                       class="form-control" id="vaccine" placeholder="Vaccine information">
            </div>

            <div class="form-row">
                <div class="form-row">
                    <input type="checkbox" name="dewormed" th:field="*{dewormed}"
                           class="form-check-input" id="dewormed">
                    <label class="form-check-label" for="dewormed">Is the animal dewormed</label>
                </div>

                <div>
                    <label for="vaccinationDate">Date of deworming:</label>
                    <input type="date" th:field="*{dewormingDate}"  name="dewormingDate"  id="dewormingDate"/>

                </div>

                <div class="form-group col-md-4">
                    <label class="text-center text-black font-weight-bold" for="dewormingType">Type of Deworming</label>
                    <select id="dewormingType"
                            name="dewormingType"
                            th:errorclass="is-invalid"
                            class="form-select">
                        <option value="">Deworming Type</option>
                        <option th:each="e : ${T(PETVET.bg.petvet.model.entity.enums.DewormingType).values()}"
                                th:text="${e}"
                                th:value="${e}"
                                th:selected="${e} == *{dewormingType}">
                            Deworming type
                        </option>
                    </select>
                </div>
            </div>

                <div class="form-row">
                    <input type="checkbox" name="castrated" th:field="*{castrated}"
                           class="form-check-input" id="castrated">
                    <label class="form-check-label" for="castrated">Is the animal castrated</label>
                </div>


        <button type="submit" class="btn btn-primary">Add patient to the database</button>
    </form>
</div>

</body>
</html>