<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PetVet</title>

    <th:block th:include="~{/fragments/head.html}"/>
</head>
<body>
<header id="header" class="fixed-top">
    <div th:replace="fragments/navbar">Navbar</div>
</header>

<div class="container-fluid pt-5 mb-4">
    <div class="row" style="height: 4em;"></div>
    <form class="form mx-auto col-md-8 col-lg-6 d-flex row g-3 justify-content-center"
          th:action="@{/owners/edit/} + ${editOwnerDTO.id}"
          th:method="put"
          th:object="${editOwnerDTO}">
        <h2 class="text-center text-black pb-5">Edit owner details:</h2>
        <div class="row">
            <h6>Personal information: </h6>
            <hr class="mt-0 mb-4">
            <div class="form-group col-md-6 mb-3">
                <label for="firstName" class="text-black font-weight-bold">First Name</label>
                <input
                        id="firstName"
                        th:field="*{firstName}"
                        th:errorclass="is-invalid"
                        type="text"
                        min="2"
                        max="20"
                        class="form-control"/>
                <p class="invalid-feedback errors alert alert-danger">
                    First name is required and should be between 2 and 20 symbols.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="lastName" class="text-black font-weight-bold">Last Name</label>
                <input
                        id="lastName"
                        th:field="*{lastName}"
                        th:errorclass="is-invalid"
                        type="text"
                        min="2" max="20" class="form-control"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Last name is required and should be between 2 and 20 symbols.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="email" class="text-black font-weight-bold">Email</label>
                <input id="email"
                       th:field="*{email}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       placeholder="example@example.com"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Email is required and should be valid.
                </p>
                <p th:if="${emailTaken}" class="errors alert alert-danger">
                    Email is already occupied
                </p>
            </div>
            <div class="form-group col-md-6">
                <label for="phoneNumber">Phone Number</label>
                <input th:field="*{phoneNumber}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       id="phoneNumber">
                <p class="invalid-feedback errors alert alert-danger">
                    Phone number is required and should be 10 digits.
                </p>
                <p th:if="${phoneTaken}" class="errors alert alert-danger">
                    Phone number is already used.
                </p>
            </div>
        </div>
        <div class="row">
            <h6>Address:</h6>
            <hr class="mt-0 mb-4">
            <div class="form-group col-md-4 mb-4">
                <label for="addressCountry">Country</label>
                <input th:field="*{addressCountry}"
                       th:errorclass="is-invalid" type="text" class="form-control" id="addressCountry">
                <p class="invalid-feedback errors alert alert-danger">
                    Country is required.
                </p>
            </div>
            <div class="form-group col-md-4">
                <label for="addressCity">City</label>
                <input th:field="*{addressCity}"
                       th:errorclass="is-invalid" type="text" class="form-control" id="addressCity">
                <p class="invalid-feedback errors alert alert-danger">
                    City is required.
                </p>
            </div>
            <div class="form-group col-md-3">
                <label for="addressPostcode">Post Code</label>
                <input th:field="*{addressPostcode}"
                       th:errorclass="is-invalid" type="text" class="form-control" id="addressPostcode">
            </div>
        </div>
        <div class="row pb-4">
            <div class="form-group col-md-8">
                <label for="addressStreet">Street Address</label>
                <input th:field="*{addressStreet}"
                       th:errorclass="is-invalid"
                       placeholder="Street name, number, etc."
                       type="text" class="form-control" id="addressStreet">
                <p class="invalid-feedback errors alert alert-danger">
                    Street address is required.
                </p>
            </div>
        </div>
        <div class="pb-3 text-center" role="group">
            <button class="btn btn-outline-warning col-4 mx-3"
                    onclick="window.history.go(-1); return false;"
                    role="button">Cancel
            </button>
            <button type="submit" class="btn btn-primary col-4 mx-3">Save</button>

        </div>
    </form>
</div>
</div>

</body>
</html>