<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password change</title>
    <div th:replace="fragments/head">Head</div>
</head>
<body class="d-flex flex-column h-100">

<header>
    <div th:replace="fragments/navbar">Navigation</div>
</header>

<div class="container-fluid pt-5 mb-4">
    <div class="row" style="height: 2em;"></div>

    <h2 class="text-center text-white">Change password</h2>
    <form th:action="@{/users/password-change}"
          th:method="put"
          th:object="${changePasswordDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="row">
            <div class="form-group col-md-6 mb-3 mx-auto">
                <p th:if="${incorrectPassword}" class="errors alert-danger alert">Incorrect password</p>
                <label for="password" class="text-white font-weight-bold">Old password</label>
                <input id="password" th:field="*{password}" th:errorclass="is-invalid" name="password"
                       type="password"
                       min="2" max="20" class="form-control"
                       placeholder="Old password"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Password should be at least 8 symbols and no more than 20.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3 mx-auto">
                <p th:if="${alreadyUsed}" class="errors alert-danger alert">The new password should not match with the old one.</p>

                <label for="newPassword" class="text-white font-weight-bold">New password</label>
                <input id="newPassword" th:field="*{newPassword}"
                       name="confirmPassword"
                       type="password" min="2" max="20" class="form-control"
                       th:classappend="${passwordsDoNotMatch} ? is-invalid : ''"
                       placeholder="New password"/>
                <p th:if="${passwordsDoNotMatch}" class="invalid-feedback errors alert alert-danger">
                    Passwords should match.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3 mx-auto">
                <label for="confirmNewPassword" class="text-white font-weight-bold">Confirm new password</label>
                <input id="confirmNewPassword" th:field="*{confirmNewPassword}"
                       name="confirmPassword"
                       type="password" min="2" max="20" class="form-control"
                       placeholder="Confirmation password"/>

            </div>
        </div>


        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Save"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:replace="fragments/footer">Footer</div>

</body>
</html>