<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PetVet</title>

    <th:block th:include="~{/fragments/head.html}"/>
    <link rel="stylesheet" href="//unpkg.com/bootstrap-select@1.12.4/dist/css/bootstrap-select.min.css"
          type="text/css"/>

</head>


<body>
<header id="header" class="fixed-top">
    <div th:replace="fragments/navbar">Navbar</div>
</header>
<div class="container-fluid pt-5 mb-4">
    <div class="row" style="height: 4em;"></div>
    <form class="form mx-auto col-md-8 col-lg-6 d-flex row g-3 justify-content-center"
          th:action="@{/patients/edit/}+${editPatientDTO.id}"
          th:method="put"
          th:object="${editPatientDTO}">
        <h2 class="text-center text-black">Edit patient details:</h2>

        <div class="row pb-3" th:styleappend="${hasOwner} ? 'visibility:hidden' : ''">
            <h6>Owner: </h6>
            <hr class="mt-0 mb-4">
            <div class="form-group col-md-6">
                <label class="text-center text-black font-weight-bold" for="ownerId">Owner</label>
                <select id="ownerId"
                        name="ownerId"
                        th:errorclass="is-invalid"
                        class="form-select">
                    <option value="">Select an owner</option>
                    <option th:each="e : ${owners}"
                            th:text="${e.name}"
                            th:value="${e.id}"
                            th:selected="${e.id} == *{ownerId}">
                        Animal owner
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Required field.
                </p>
            </div>
        </div>

        <div class="row">
            <h6>Patient information: </h6>
            <hr class="mt-0 mb-4">
            <div class="form-group col-md-6 mb-3">
                <label for="patientName">Patient name</label>
                <input type="text" th:field="*{name}"
                       th:errorclass="is-invalid" class="form-control" id="patientName">
                <p class="invalid-feedback errors alert alert-danger">
                    Name is required and should be between 2 and 20 symbols.
                </p>
            </div>

            <div class="form-group col-md-6">
                <h7>Animal Identification number:</h7>
                <p th:text="${identID}">ID</p>
            </div>
        </div>
        <div class="row pb-3">
            <div class="form-group col-md-6">
                <label for="animalType">Animal type</label>
                <input type="text" th:field="*{animalType}"
                       th:errorclass="is-invalid" class="form-control" id="animalType">
                <p class="invalid-feedback errors alert alert-danger">
                    Animal type is required and should be between 2 and 50 symbols.
                </p>
            </div>
            <div class="form-group col-md-6">
                <label for="birthday" class="text-center text-black font-weight-bold">Date of birth:</label>
                <input type="date" class="form-control" th:field="*{birthday}"
                       name="birthday"
                       th:errorclass="is-invalid"
                       id="birthday"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Date is required and should be in the format dd/MM/yyyy and should be today date or before that.
                </p>
            </div>
        </div>

        <div class="row pb-3">
            <h6>Optional information:</h6>
            <hr class="mt-0 mb-6">
            <div class="form-group col-md-6">
                <label for="breed">Breed</label>
                <input type="text" th:field="*{breed}" class="form-control" id="breed">
            </div>
        </div>
        <div class="row pb-3">
            <div class="form-check form-switch col-4 text-black">
                <input type="checkbox" class="form-check-input" role="switch" th:checked="*{vaccinated}"
                       name="vaccinated" id="isVaccinated">
                <label class="form-check-label" for="isVaccinated">Vaccinated</label>
            </div>

            <div class="form-check form-switch col-4 text-black">
                <input type="checkbox" class="form-check-input" role="switch" th:checked="*{dewormed}"
                       name="dewormed" id="isDewormed">
                <label class="form-check-label" for="isDewormed">Dewormed</label>
            </div>

            <div class="form-check form-switch col-4 text-black">
                <input type="checkbox" class="form-check-input" role="switch" th:checked="*{castrated}"
                       name="castrated" id="isCastrated">
                <label class="form-check-label" for="isCastrated">Castrated</label>
            </div>
        </div>

        <div class="row pb-2">
            <div class="form-group col-4">
                <label for="vaccinationDate" class="text-center text-black font-weight-bold">Date of
                    vaccination:</label>
                <input type="date" class="form-control" th:field="*{vaccinationDate}" id="vaccinationDate"
                       th:errorclass="is-invalid"/>
                <p class="invalid-feedback errors alert alert-danger">
                    The date should be in the format dd-MM-yyyy and to be today or before that.
                </p>
            </div>

            <div class="form-group col-4">
                <label for="dewormingDate" class="text-center text-black font-weight-bold">Date of deworming:</label>
                <input type="date" class="form-control" th:field="*{dewormingDate}" id="dewormingDate"/>

            </div>
        </div>
        <div class="row pb-5">
            <div class="form-group col-md-4">
                <label for="vaccine">Vaccine</label>
                <input type="text" th:field="*{vaccine}"
                       class="form-control" id="vaccine" placeholder="Vaccine information">
            </div>
            <div class="form-group col-md-4">
                <label for="dewormingType">Deworming type</label>

                <select id="dewormingType"
                        name="dewormingType"
                        th:errorclass="is-invalid"
                        class="form-select">
                    <option value="">Deworming Type</option>
                    <option th:each="e : ${T(PETVET.bg.petvet.model.entity.enums.DewormingTypeEnum).values()}"
                            th:text="${e}"
                            th:value="${e}"
                            th:selected="${e} == *{dewormingType}">
                        Deworming type
                    </option>
                </select>
            </div>
        </div>

        <div class="pb-3 btn-group" role="group">
            <button class="btn btn-outline-warning col-4 mx-3"
                    onclick="window.history.go(-1); return false;"
                    role="button">Cancel
            </button>
            <button type="submit" class="btn btn-primary col-4 mx-3">Save</button>

        </div>
    </form>
</div>

</body>
</html>